/*返回按钮样式*/







/*返回按钮样式*/
.backBtnWrap{
    position: absolute;
    top: 0;
    padding: 1rem;
    z-index: 100;
}
.backBtnWrap2{
    padding: 2px;
}
.backBtnWrap2::after{
    content: '';
    display: block;
    clear: both;
}
.backBtnWrap svg{
    float: left;
    width: 2rem;
    height: 2rem;
}
.backBtnWrap .backText{
    float: left;
    height: 2rem;
    line-height: 2rem;
    font-size: 3rem;
}